
:root{

  --primary-color: #047aed;
  --secondary-color: blue;
  --flex-color: #003796;
  --background-color: rgb(196, 196, 196);

}

/* Utilities Classes */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
}

body{
  background-color: var(--background-color);
  line-height: 1.6;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}
img{
  width: 100%;
}
.clr{
  clear: both;
}

h1, h2{
  margin-bottom: 15px ;
  text-align: center;
}

.container{
  width: 80%;
  margin: 0 auto;
}
button{
  
  padding: 10px 15px;
  display: block;
  margin-top: 20px;
  border: none;
  border: none;
  background-color: var(--flex-color);
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  
}

button:hover{
  cursor: pointer;
}

/* Utilities Classes ends Here */


/* Navbar */
.navbar{
  background-color: var(--secondary-color);
  color: #fff;
  height: 60px ;
  position: fixed;
  
  width: 100%;
  margin: 0 auto;
  
  
  
  
  
}
.navbar .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  
  
  
  
}
.navbar ul, li a{
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin-right: 15px;
  font-weight: bold;
}

.logo{
  font-size: x-large;
  font-weight: bold;
}

/* Navbar Ends Here */


/* Header Session */

.header{
  background-color: var(--primary-color);
  min-height: 500px;
  padding-top: 60px;
  
}

.header .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:auto;  
  color: white;
  font-weight: bold ;
}

.header img{
  width: 400px;
  margin-top: 10px;
}

header h1{
  font-size: 3rem;
}

header p{
  font-size: 18px;
}

/* Header Ends Here */


/* About Us Session */
.about{
  margin: 30px 0;
  text-align: center;
  font-size: 20px;
  
}



.mission{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.mission div{
  background-color: var(--flex-color);
  color: white;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
  
}
.mission h3{
  padding-bottom: 20px;
  font-size: 20px;
}
.mission p{
  font-size: 1rem;
}

.mission ul, li{
  list-style: none;
  font-size: 1rem;
}

/* About is ends here */


/* Team members sesso=ion */
.team{
  margin: 20px 0;
  padding: 20px;
  background-color: var(--primary-color);
  color: #fff;
}


.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px;
  gap: 20px;
  color: #000;
  
}
 .flex div{
  background-color: var(--secondary-color);
  color: #000;
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  flex-wrap: wrap;
  border-radius: 10px;
}


.flex h3{
  
  font-size: 20px;
  text-align: center;

}

/* Team ends here */

.footer{
  background-color: var(--primary-color);
  margin-top: 0;
  padding: 30px 0;
  color: white;

  
}

.footer h2{
  font-size: 2rem;
}

.footer .container{
  
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

footer{
  text-align: center;
  padding: 20px 0;
}




/* Media Queries */

@media (max-width: 768px) {
  .navbar .container{
    display: block;
    position: relative;
    margin: auto;
    padding: 49px;
    
    

  }

 

  .navbar{
    height: auto;
    position: fixed;
    z-index: 1;
    
    
    
  }
  

  .header{
    min-height: 1000px;
    box-sizing: border-box;
  }
  .header .container{
    flex-direction: column;
    text-align: center;
    position: relative;
    top: 100px;
    margin: 0 auto;
    justify-content: center;
    

  }
  .header img{
    width: 100%;
  }

  button{
    margin: 20px auto;
  }
  .container{
    width: 80%;
    margin: 0 auto;
  }

 

  .flex{
    margin-left: 50px;
  }


  .flex div{
    flex-direction: column;
  }
  
}

.footer .container{
  flex-wrap: wrap;
}




